<div class="container">
  <div class="row row-cols-4 my-4">
    <div class="col-6">
      <h1 class='display-4'><%= @task_list.name %></h1>
    </div>

    <div class="col-2 mt-3">
      <% if @task_list.shareable? && @task_list.user != current_user %>
        <% unless @favorites_ids.include?(@task_list.id) %>
          <%= form_with(url: '/favorites', method: :create) do %>
            <%= hidden_field_tag :task_list_id, @task_list.id %>
            <%= submit_tag("Favoritar", class: "btn btn-warning") %>
          <% end %>
        <% else %>
          <%= form_with(url: favorite_path, method: :delete) do %>
            <%= hidden_field_tag :task_list_id, @task_list.id %>
            <%= submit_tag("Desfavoritar", class: "btn btn-danger") %>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <div class="col-2 mt-3">
      <% if @task_list.shareable? && @task_list.user == current_user %>
        <%= form_with(url: task_list_set_private_path(@task_list.id), method: :put) do %>
          <%= hidden_field_tag :status, :personal %>
          <%= submit_tag("Tornar privada", class: "btn btn-warning") %>
        <% end %>
      <% elsif @task_list.personal? %>
        <%= form_with(url: task_list_set_public_path(@task_list.id), method: :put) do %>
          <%= hidden_field_tag :status, :shareable %>
          <%= submit_tag("Tornar pública", class: "btn btn-danger") %>
        <% end %>
      <% end %>
    </div>

    <div class="col-2 mt-3">
      <% if @task_list.user == current_user %>
        <%= link_to 'Editar Lista', edit_task_list_path(@task_list), class:"btn btn-warning" %>
      <% end %>
    </div>
  </div>


  <% if @task_list.user == current_user %>
    <%= form_with(model: @task_list, url: task_list_create_task_path(@task_list.id), method: :put) do |form| %>
      <%= form.fields_for :tasks do |f| %>
      <% end %>
      <div class="form-group row mt-3">
        <div class="col-sm-9">
          <%= link_to_add_fields('+ Nova tarefa', form, :tasks, class: "btn btn-info add-task") %>
          <%= form.submit 'Salvar', class: "btn btn-success submit-task" %>
        </div>
      </div>
    <% end %>
  <% end %>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Tarefas</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @task_list.tasks.order(created_at: :desc).each do |task| %>
        <tr>
          <td>
            <% if task.open? %>
              <%= task.description %>
            <% else %>
              <del><%= task.description %></del>
            <% end %>
          </td>
          <td>
            <% if task.open? && @task_list.user == current_user %>
              <%= form_with(url: task_list_task_set_done_path(@task_list.id,task.id), method: :put) do %>
                <%= hidden_field_tag :status, :closed %>
                <%= submit_tag("Feito", class: "btn btn-success", id: "set-done-#{task.id}") %>
              <% end %>
            <% elsif task.closed? && @task_list.user == current_user %>
              <%= form_with(url: task_list_task_set_undone_path(@task_list.id,task.id), method: :put) do %>
                <%= hidden_field_tag :status, :open %>
                <%= submit_tag("Desfazer", class: "btn btn-warning", id: "set-undone-#{task.id}") %>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="col-sm-5 mt-5">
    <%= link_to 'Voltar', task_lists_path, class:"btn btn-outline-dark" %>
  </div>
</div>